//text colours
$basic_red: rgb(223, 23, 23);
$gold:  #907b53;
$gold_faded: #7d7d7d;
//background colours
$basic_black: rgb(11, 11, 11);
$basic_gray: rgb(17, 17, 18);
$medium_gray: rgb(62, 62, 62); 
$stone_gray: rgb(34, 34, 34);
$light_gray: rgb(188, 189, 181);
$midtone_gray: rgb(204, 205, 197);







